<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>数据库查询测试程序</title>
</head>

<body>
<!--<p th:text="'hello, ' + ${name} + '!'" />-->
<p>mysql 官方数据库测试数据演示查询</p>
<div class="search">
    <input type="text" placeholder="请输入..." name="" id="" value="" />
    <button><i>搜索</i></button>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info,infoStat :${infopage}">
            <td th:text="${info.id}"></td>
            <td th:text="${info.createUser}"></td>
            <td th:text="${info.createUser}"></td>
            <td th:text="${info.username}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>